.App {
  text-align: center;
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-content: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.topbar{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  background-color: rgba(161, 158, 158, 0.548);
  box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
  position:sticky;
  
}
.notification{
  font-size: small;
  color: grey;
}
.light{
  font-size: small;
  color: grey;
}
.pp{
  width: 40px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  object-fit: cover;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.card{
  width:200px;
  height: 500px ;
  aspect-ratio: 2/3;
  object-fit: cover;
  background-color: white;
  border-radius: 10px;
  margin: 10px;
  box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
  padding: 3px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.card:hover{
  background-color: rgb(253, 233, 236);
  cursor: pointer;
}
.card:active{
  background-color: rgb(255, 212, 219);
}
.img{
  width:100%;
  aspect-ratio: 2/3;
  object-fit: cover;
  border-radius: 10px;
}
.cardtitle{
  height: 80px;
  overflow:hidden;
  margin: 0;
  padding: 10px;
}
.allblogs{
  display:flex;
  flex-direction: row;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}
.blogpost{
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 768px;
  align-self: center;
  padding: 10px;
}
.headline{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding: 10px;
  align-items: center;
}
h2{
  word-wrap: break-word;
}
.blog-details{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: space-between;
  align-items: center;
  color: grey;
  padding: 10px;
}
.profile{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 10px;
  justify-content: space-evenly;
  align-items: center;
  color: grey;
}

.blogimg{
  width: 100%;
  aspect-ratio: 3/2;
  object-fit: cover;
}
button{
  padding: 10px;
  background-color: white;
  margin: 0;
  border: 0;
}
button:hover{
  background-color: rgb(253, 233, 236);
}
.theblog{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.ppimg{
  width: 40px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  object-fit: cover;
}